* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left  main main main main menu"
    "footer footer footer footer footer footer";

  gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-container > div {
  padding: 10px;
  font-size: 16px;
}

.header {
  grid-area: header;
  background-color: purple;
  text-align: center;
  color: #ffffff;
}

.header > h1 {
  font-size: 40px;
}

.menu {
  grid-area: menu;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
}

.menu li:hover {
  background-color: #0099cc;
}

.main {
  grid-area: main;
  text-align: center;
}

.main > h1 {
  font-size: 30px;
  margin-bottom: 7px;
}

.main > p {
  margin-bottom: 7px;
  text-align: center;
}

.left {
  grid-area: left;
  border: 2px solid #0099cc;
  background-color: white;
  padding: 10px;
  color: #000000;
}

.left > h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.left li {
  padding: 3px;
  margin-bottom: 3px;
}

.footer {
  grid-area: footer;
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
}
